@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth; ;
}
body {
  font-family: var(--font-body), "Segoe UI", Tahoma, sans-serif;
  line-height: 1.8;
}

h1,
h2,
h3,
.nav__logo {
  font-family: var(--font-display), "Segoe UI", Tahoma, sans-serif;
  font-weight: 700;
}